{% extends "accounts/layout.html" %}

{% block content %}
{% load staticfiles %}


    <style>
        #tbody > tr:nth-child(1) > th{
            color:gold;
        }
        #tbody > tr:nth-child(2) > th{
            color:silver;
        }
        #tbody > tr:nth-child(3) > th{
            color: #A5816A;
        }
    </style>






    <div style="text-align: center; margin: 50px;font-family: 'Contrail One', cursive; font-size: 3em;
">
            <img src="{% static "data/award.gif" %}" style="width: 90px; height: 100px ">

     <p>
           Leader board
     </p>
    </div>
    <div class="container">
        <div style="margin: 0 auto">
            <select id="sort-select" onchange="location = this.value;">
                <option class="sort-max_rate" value="?sort=max_rate">최대수익률</option>
                <option class="sort-wallet" value="?sort=wallet">현재 자산</option>
            </select>
        </div>
        <div class="row">
            <div class="col-sm-8" style="margin: 0 auto">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" style="text-align: center">ranking</th>
                        <th scope="col" style="text-align: center">user</th>
                        <th scope="col" style="text-align: center">{{ sort }}</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {% for i in leader_board_data %}
                        <tr>
                            <th scope="row" style="text-align: center;">
                                {% if forloop.counter <= 3%}
                                    <i class="fas fa-crown"></i>
                                {% endif %}
                                {{ forloop.counter }}
                            </th>
                            <td style="text-align: center">{{ i.0 }}</td>
                            <td style="text-align: center">{{ i.1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        // get url query string
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;
            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        // 정렬방식 셀렉트 박스 유지
        $(document).ready(function () {
            var sort = getUrlParameter('sort');
            if (sort == 'max_rate') {
                $('.sort-max_rate').prop('selected', 'selected')
            } else if (sort == 'wallet') {
                $('.sort-wallet').prop('selected', 'selected')
            } else {
                $('.sort-date').prop('selected', 'selected')
            }
        });
    </script>
{% endblock %}


