<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <style>-->
<!--        @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);-->

<!--        *, *:before, *:after {-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--            -webkit-box-sizing: border-box;-->
<!--            -moz-box-sizing: border-box;-->
<!--            box-sizing: border-box;-->
<!--        }-->

<!--        body {-->
<!--            background: white;-->
<!--            -webkit-transform: translateZ(0);-->
<!--        }-->

<!--        html, body {-->
<!--            width: 100%;-->
<!--            height: 100%;-->
<!--        }-->


<!--        #loader {-->
<!--            position: absolute;-->
<!--            top: 0;-->
<!--            right: 0;-->
<!--            bottom: 0;-->
<!--            left: 0;-->
<!--            width: 100%;-->
<!--            height: 100%;-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--            justify-content: center;-->
<!--            align-items: center;-->
<!--            /*background: #E9E8E3;*/-->
<!--            background: white;-->
<!--            z-index: 99;-->
<!--            -webkit-animation: offscreen .5s 10s forwards;-->
<!--            animation: offscreen .5s 10s forwards;-->
<!--        }-->

<!--        #refresher {-->
<!--            position: absolute;-->
<!--            top: 0;-->
<!--            right: 0;-->
<!--            bottom: 0;-->
<!--            left: 0;-->
<!--            width: 100%;-->
<!--            height: 100%;-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--            justify-content: center;-->
<!--            align-items: center;-->
<!--            z-index: 1;-->
<!--            opacity: 0;-->
<!--            -webkit-animation: show .8s 8s forwards;-->
<!--            animation: show .8s 8s forwards;-->
<!--        }-->

<!--        #refresher a {-->
<!--            text-decoration: none;-->
<!--            color: gold;-->

<!--        }-->

<!--        .refresh {-->
<!--            color: black;-->
<!--            font-family: 'Open Sans Condensed', sans-serif;-->
<!--            font-size: 2rem;-->
<!--            text-transform: uppercase;-->
<!--            letter-spacing: .1rem;-->
<!--        }-->


<!--        /*-->
<!--        &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--        LOADING BAR-->
<!--        &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--        */-->
<!--        .loading-bar {-->
<!--            position: relative;-->
<!--            margin-top: 4rem;-->
<!--            width: 250px;-->
<!--            background: #C1C0BC;-->
<!--        }-->

<!--        .loading-bar:before {-->
<!--            content: '';-->
<!--            position: absolute;-->
<!--            top: 0;-->
<!--            left: 0;-->
<!--            width: 0;-->
<!--            background: #58585A;-->
<!--            -webkit-animation: load 10s 1s forwards;-->
<!--            animation: load 10s 1s forwards;-->
<!--        }-->

<!--        .loading-bar, .loading-bar:before {-->
<!--            height: 4px;-->
<!--            border-radius: 5px;-->
<!--        }-->

<!--        /*-->
<!--        &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--        ANIMATIONS-->
<!--        &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--        */-->


<!--        @keyframes load {-->
<!--            0% {-->
<!--                width: 0;-->
<!--            }-->
<!--            40%{-->
<!--                width : 180px;-->
<!--            }-->
<!--            60%{-->
<!--                width : 230px;-->
<!--            }-->

<!--            100% {-->
<!--                width: 250px;-->
<!--            }-->
<!--        }-->

<!--        @keyframes offscreen {-->
<!--            0% {-->
<!--                transform: translateY(0);-->
<!--            }-->
<!--            100% {-->
<!--                transform: translateY(-200%);-->
<!--            }-->
<!--        }-->

<!--        @keyframes show {-->
<!--            0% {-->
<!--                opacity: 0;-->
<!--            }-->
<!--            100% {-->
<!--                opacity: 1;-->
<!--            }-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--<div id="loader">-->
<!--    <div class="img">-->
<!--{% load staticfiles %}-->
<!--<img src="{% static "data/ant2.gif" %}">-->



<!--    </div>-->


<!--    <div class="loading-bar"></div>-->
<!--</div>-->
<!--<div id="refresher">-->
<!--    <p class="refresh">-->
<!--        안녕하세요-->

<!--    </p>-->
<!--    <a href="data:home.html">메인화면으로 이동</a>-->


<!--</div>-->
<!--</body>-->
<!--</html>-->