<!-- Styles -->

<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Song+Myung&display=swap" rel="stylesheet">
<!-- Resources -->

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<!-- <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- {% load static %}
   <link rel="stylesheet" type="text/javascript" href="{% static "javascript/mouseevent.js" %}"> -->
<style>
    body  {
        font-family: 'Song Myung', serif;
        {#font-weight: lighter;#}
    }
</style>

<!-- HTML -->
<div id="chartdiv"></div>
<h2>기초 자산: &#8361; <span id="ceed_place"></span> 기말 자산: &#8361; <span id="total_return_place"></span> 증감액: &#8361; <span id="delta_return_place">---</span></h2>
<h2 id="content">---</h2>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">종목명: {{ name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> <!--            {#이건 우측 상단 x 종료 아이콘#}-->
        </button>
      </div>
      <div class="modal-body">

          <h3>총 <span id="count">--</span>번의 거래를 통해,<br> <span id="results_place">---</span>의 손익이 발생하였습니다.</h3>
          <div id="trading_place"></div>
          <div>누적 수익률: <span id="total_yield_place">--</span>(%)</div>
      </div>
      <div class="modal-footer">

          <form action="{% url 'accounts:history'%}" method="post">
               {% csrf_token %}

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

              <button type="submit" class="btn btn-primary" id="user" name="abc" value="">Save changes</button>
              {#{#              <input type="hidden" name="total" id="total" value="">#}

          </form>
      </div>
    </div>
  </div>
</div>



<script>

    am4core.ready(
        function ()
        {
// Themes begin
         am4core.useTheme(am4themes_dataviz);
// Themes end

            var data = [];
            var visits = [];
            var b = {{ data }};
            var c = [];
            {#var x = [];#}
            var x_axis = [];
            var chart_place = document.getElementById("chartdiv");
            var content = document.getElementById("content");
            var trading_place = document.getElementById("trading_place");
            var buy_at_s = [];
            var sell_at_s = [];
            var result = 0;
            var results = 0;
            var startTime;
            var j = 0;
            var p = 0;
            var is_end = false;
            {#var current;#}
            var ceed = {{ ceed }};
            var delta_return = 0;
            var total_return = ceed + delta_return;
            var holdingshares;
            var buy_at_place;
            var sell_at_place;
            var ceed_place = document.getElementById("ceed_place")
            ceed_place.innerHTML += ceed.toLocaleString()
            var total_return_place = document.getElementById("total_return_place")
            total_return_place.innerHTML += total_return.toLocaleString()
            var results_place = document.getElementById("results_place");
            var count = document.getElementById('count');
            var total_yield_place = document.getElementById("total_yield_place");
            var delta_return_place = document.getElementById("delta_return_place");
            var yields;
            var total_yield;
            var deltatime = 100;
            var duration = 0;
            var is_down = false;
            var user_result = {'name': '{{name}}'};
            var jonber_period;
            var jonber_periods = [];

            function setValue() {
                document.getElementById("user").value = JSON.stringify(user_result);
                console.log(typeof(user_result))
                console.log(JSON.stringify(user_result))
                console.log(typeof(JSON.stringify(user_result)))
            }

            for (var i = 0; i <= 36; i++) {
                visits = c[i];
                data.push({date: new Date().setSeconds(i - 36), value: visits});
            }

        var chart = am4core.create("chartdiv", am4charts.XYChart);
        chart.hiddenState.properties.opacity = 0;
        chart.padding(0, 0, 0, 0);
        chart.zoomOutButton.disabled = true;
        chart.data = data;
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.renderer.grid.template.disabled = true;
        dateAxis.renderer.grid.template.location = 0;
        dateAxis.renderer.minGridDistance = 30;
        dateAxis.renderer.disabled = true;
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.tooltip.disabled = true;
        valueAxis.interpolationDuration = duration;
        valueAxis.rangeChangeDuration = duration;
        valueAxis.renderer.inside = true;
        valueAxis.renderer.minLabelPosition = 0.05;
        valueAxis.renderer.maxLabelPosition = 0.95;
        valueAxis.renderer.axisFills.template.disabled = true;
        valueAxis.renderer.ticks.template.disabled = true;
        var series = chart.series.push(new am4charts.StepLineSeries());
        series.strokeWidth = 6;
        series.propertyFields.stroke = "color";
        series.dataFields.dateX = "date";
        series.dataFields.valueY = "value";
        series.interpolationDuration = duration;
        series.defaultState.transitionDuration = duration;
        series.tensionX = 0.8;
        dateAxis.interpolationDuration = duration;
        dateAxis.rangeChangeDuration = duration;
            function bgchange(is_down, yields) {
                if (is_down) {
                    if (yields > 0) {
                        content.style.color = "red";
                        document.body.style.backgroundColor = "rgba(051, 204, 051," + ((yields) * 1.5 / 100).toFixed(1) + ")"
                    } else if (yields < 0) {
                        content.style.color = "blue";
                        document.body.style.backgroundColor = "rgba(255, 051, 051," + ((-yields) * 1.5 / 100).toFixed(1) + ")"
                    } else {
                        content.style.color = 'black';
                        document.body.style.backgroundColor = "white"
                    }
                } else {
                    content.style.color = 'black'
                }
            }
            function calculate_yields(is_down, current, sell_at_s)
            {
                if (is_down)
                {
                    if (!(sell_at_s))
                    {
                        return (((current - buy_at_s[p]) / buy_at_s[p]) * 100).toFixed(2);
                    } else {
                        return (((sell_at_s[p] - buy_at_s[p]) / buy_at_s[p]) * 100).toFixed(2);
                    }
                }
            else
                {
                    return "---"
                }
            }
            function comments(yields) {
                if (yields > 0) {
                    if (yields > 0 && yields < 5) {
                        return "풉ㅋㅋ아직 은행 이자 수준이군요."
                    } else if (yields >= 5 && yields < 20) {
                        return "다같이, 영차영차!"
                    } else if (yields >= 20 && yields < 30) {
                        return "달달한 수익 구간입니다."
                    } else if (yields >= 30 && yields < 40) {
                        return "매수는 기술, 매도는 예술"
                    } else if (yields >= 40 && yields < 60) {
                        return "경제적 자유를 항해 가즈아-!"
                    } else if (yields >= 60 && yields < 80) {
                        return "지나친 욕심은 위험합니다."
                    } else if (yields >= 80 && yields < 100) {
                        return "정녕...당신은 한국의 워렌버핏입니까?"
                    } else if (yields >= 100 && yields < 120) {
                        return "축하합니다- 1루타!"
                    } else if (yields >= 120) {
                        return "장기 가치 투자는 언제나 환영입니다."
                    }
                } else if (yields < 0) {
                    if (yields < 0 && yields > -5) {
                        return "삐빅! 손실 구간입니다."
                    } else if (yields <= -5 && yields > -10) {
                        return "힘을 내요, 영차영차!"
                    } else if (yields <= -10 && yields > -20) {
                        return "손절은 나쁜 습관입니다."
                    } else if (yields <= -20 && yields > -30) {
                        return "팔기 전까진 가짜 손해입니다. 존버하세요!"
                    } else if (yields <= -30 && yields > -40) {
                        return "존버, 존버만이 살 길입니다."
                    } else if (yields <= -40 && yields > -50) {
                        return "해 뜨기 직전이 가장 어둡습니다."
                    } else if (yields <= -50 && yields > -60) {
                        return "삐빅! 현재 시각 한강물 온도 16.4도"
                    } else if (yields <= -60) {
                        return "아-멘"
                    }
                } else {
                    return "이제 시작이군요."
                }
            }
            function show_buy_at_s(p) {
                if(buy_at_s[p]){
                    return buy_at_s[p].toLocaleString()
                }
                else {
                    return "---"
                }
            }


           chart_place.onmousedown = function () {
                if(!is_end){
                    is_down = true;
                    div = document.createElement('div');
                    div.setAttribute('id', 'div' + p);
                    trading_place.insertBefore(div, trading_place.firstChild);
                    buy_at_s[p] = b[j - 1];
                    holdingshares = Math.floor(ceed / buy_at_s[p]);
                    // console.log("매수가:"+buy_at);
                    buy_at_place = document.createElement('span');
                    buy_at_place.innerHTML = (p + 1) + "번째 - 보유 수량: "+holdingshares+"주 "+"매수가: " + buy_at_s[p].toLocaleString() + " ";
                    div.appendChild(buy_at_place);
                    startTime = new Date().getTime();
                    {#document.body.style.backgroundColor = "#A8F552"#}
                }
                else {
                    alert("장 끝났다고 븅신아ㅋㅋ")
                }
            };
            function sell_action(){
                is_down = false;
                sell_at_s[p] = b[j - 1];
                result = (sell_at_s[p] - buy_at_s[p])*holdingshares;
                delta_return += result;
                total_return += result;
                total_return_place.innerHTML = (total_return).toLocaleString();
                delta_return_place.innerHTML = delta_return.toLocaleString();
                yields = (((sell_at_s[p] - buy_at_s[p]) / buy_at_s[p]) * 100).toFixed(2);// console.log("매도가:"+sell_at)
                // console.log(buy_at+"에 매수해서 "+sell_at+"에 매도했습니다.")
                div = document.getElementById('div' + p);
                sell_at_place = document.createElement('span');
                var endTime = new Date().getTime();
                jonber_period = ((endTime - startTime) / 1000).toFixed(1);
                jonber_periods.push(jonber_period);
                // console.log(endTime-startTime);
                sell_at_place.innerHTML = "매도가: " + sell_at_s[p].toLocaleString() + " " +"<br>"+ "매매손익: " + result.toLocaleString() + "(원) " + " 수익률: " + yields + "(%) " + " 존버기간:" + jonber_period + "개월"+"<hr>";
                div.appendChild(sell_at_place);
                p++;
                total_yield_place.innerHTML = ((delta_return / ceed)*100).toFixed(2)
                count.innerHTML = p;
                results += result;
                // content.innerHTML += (" "+sell_at)      // console.log(results)

                results_place.innerHTML = results.toLocaleString();
                document.body.style.backgroundColor = "white";
            }
            chart_place.onmouseup = function () {
                sell_action()

            };

            function createTrendLine(data) {
                var trend = chart.series.push(new am4charts.LineSeries());
                trend.dataFields.valueY = "value";
                trend.dataFields.dateX = "date";
                trend.strokeWidth = 2
                trend.stroke = trend.fill = am4core.color("#c00");
                trend.data = data;

                valueAxis.interpolationDuration = duration;
                valueAxis.rangeChangeDuration = duration;


                series.interpolationDuration = duration;
                series.defaultState.transitionDuration = duration;

                dateAxis.interpolationDuration = duration;
                dateAxis.rangeChangeDuration = duration;
                return trend;
            };
            function show_line(is_down, x_axis, lastdataItem){
                if(is_down){
                    createTrendLine([
                        {"date": x_axis, "value": buy_at_s[p]},
                        {"date": new Date(lastdataItem.dateX.getTime() + 100), "value": buy_at_s[p]}
                    ]);
                }
            }
// add data

            var xaxis;
            var interval = setInterval(function ()

            {
                if (j < b.length) {
                    visits = b[j];
                    var lastdataItem = series.dataItems.getIndex(series.dataItems.length - 1);
                    x_axis[j] = new Date(lastdataItem.dateX.getTime() + 1000);
                    xaxis = new Date(lastdataItem.dateX.getTime() -36000)
                    chart.addData(
                        {date: x_axis[j], value: visits}, 1
                    );
                    show_line(is_down, xaxis, lastdataItem);
                    content.innerHTML = "현재가: &#8361;"+b[j].toLocaleString();
                    content.innerHTML += " 매수가: &#8361;"+show_buy_at_s(p);
                    content.innerHTML += " 현재 수익률: " + calculate_yields(is_down, b[j], sell_at_s[p]) + "% " + comments(calculate_yields(is_down, b[j], sell_at_s[p]));
                    bgchange(is_down, calculate_yields(is_down, b[j], sell_at_s[p]));
                    {#colorchange()#}
                    j++
                } else {
                    clearInterval(interval);
                    is_end = true;
                    if(buy_at_s[p]){
                        sell_action()
                    }
                    total_yield= (delta_return / ceed)*100;
                    $("#exampleModal").modal()
                    alert("종료되었습니다!")
                    user_result['total_yield'] = total_yield.toFixed(2)
                    user_result['total_return'] = total_return
                    user_result['delta_return'] = delta_return
                    user_result['trading_numbers'] = p
                    user_result['jonber_periods'] = jonber_periods
                    setValue()
                    console.log(user_result)
                }
            }, deltatime);
// all the below is optional, makes some fancy effects
// gradient fill of the series
            series.fillOpacity = 1.0;
            var gradient = new am4core.LinearGradient();
            gradient.addColor(chart.colors.getIndex(0), 0.2);
            gradient.addColor(chart.colors.getIndex(0), 0);
            series.fill = gradient;
        });
</script>

