{% load staticfiles %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>영차영차</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Orbitron&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<!--{% load staticfiles %}-->
<!--    <script src="{% static 'css/layout.css' %}"></script>-->
    <!--    <link href="layout2.css" rel="stylesheet">-->
    <style>
        /*<!--   여기부터 회원가입 modal 페이지  css  -->*/

/*    여기까지 회원가입 modal*/
    nav a{
        font-weight: bolder;
        font-size: 1.5em;
    }
    .navbar-brand{
        font-size: 2em;
    }
        #navbar-brand {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="ant_ModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalScrollableTitle">영차영차</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              이 개미는 노란색입니다. 모든 개미투자자들의 희망이죠.<br>
              이 땅 위의 모든 개미들을 응원합니다!
      </div>
      <div class="modal-footer">
{#        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
        <button type="button" class="btn btn-primary" data-dismiss="modal">오늘 하루도 힘내요</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ycyc_ModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalScrollableTitle">영어로 영차영차가 뭘까요? </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          바로 YCYC입니다. <br>
          그러나 주식을 사놓고 영차영차만 외치면 안 돼요! <br>
          꼼꼼한 종목 분석과 발빠른 뉴스 확인, <br> 그리고 굳건한 멘탈이 필수죠.
      </div>
      <div class="modal-footer">
{#        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
        <button type="button" class="btn btn-primary" data-dismiss="modal">건승을 빕니다</button>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div id="navbar-brand">
        <a class="navbar-brand" href="#" data-toggle="modal" data-target="#ant_ModalScrollable">
            <img src="{% static "data/ant472.gif" %}" style="width: 90px; height: 60px">
        </a>
        <a class="navbar-brand" href="#" data-toggle="modal" data-target="#ycyc_ModalScrollable">
            YCYC
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRight"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarRight">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "data:data_home" %}">트레이딩</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "data:index" %}">오늘 하루</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "data:leader_board" %}">리더보드</a>
            </li>
        </ul>
        <ul class="navbar-nav">

            {% if user.is_authenticated %}
                <a class="nav-link" href="">현재 자산: {{ user_wallet }}원</a>
                <a class="nav-link" href='{% url "accounts:profile" %}'>{{ user }}</a>
                <a class="nav-link" href="{% url 'accounts:logout' %}?next={{ request.path }}"
                   onclick="return confirm('Are you sure?');">로그아웃</a>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}?next={{ request.path }}">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="opener2 nav-link" href="{% url 'accounts:login' %}?next={{ request.path }}">로그인</a>
                </li>
                <a href="{% url "social:begin" "google-oauth2" %}"><i class="fab fa-google-plus-square"
                                                                      style="color: white; width: 44px; height: 44px; margin: 0px 5px;"></i></a>
                <a href="{% url "social:begin" "facebook" %}"><i class="fab fa-facebook-square"
                                                                 style="color: white; width: 44px; height: 44px; margin: 0px 5px;"></i></a>

            {% endif %}

        </ul>
    </div>
</nav>

{% block content %}

{% endblock %}
</body>
</html>