<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Orbitron&display=swap" rel="stylesheet">
<!--{% load staticfiles %}-->
<!--    <script src="{% static 'css/layout.css' %}"></script>-->
    <!--    <link href="layout2.css" rel="stylesheet">-->
    <style>
        .logo {
    overflow: hidden;
    margin: 0;
}

.logo li {
    float: left;
    list-style: none;
    margin-right: 40px;
    margin-left: -20px;
}

.nav-item {

    margin-right: 30px;
    margin-left : 10px;
       height : 20px;
    line-height : 5px;
}

.navbar-nav li:first-child{
    font-weight : bold;
    font-family: 'Anton', sans-serif;
    font-size : 2em;
    margin-left : 10px;


}

.navbar-nav li:nth-child(2){
    margin-left : 20px;
}
.navbar-nav li:nth-child(3){
    margin-left : -10px;
}

.dropdown-item{
    height : 20px;
    line-height : 10px;
}


    </style>
</head>
<body>
<ul class="logo">
    <li> <img
        src="https://postfiles.pstatic.net/MjAxOTA4MDdfOSAg/MDAxNTY1MTU5ODg5MjIw.Mki1x80lWgFNaAebgZH2hkL_jy0v09LMaISX7lSayaAg.8X39fHtl_jzF8f0195J2OzCjmSHNx5fv8czbQaL6OXUg.GIF.helloearth2019/ant472.gif?type=w966"
        alt=""
        style="width: 90px; height: 60px"></li>

</ul>


<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#" >YCYC</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url "haru:first" %}">HOME</a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   id="navbarDropdown" role="button">
                    GAME
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="{% url "data:data_home" %}">Trading game</a><hr/>
                    <a class="dropdown-item" href="{% url "haru:home" %}">Today's Leader</a>
                </div>

            </li>

        </ul>
    </div>
    <ul class="nav justify-content-end">

    <li class="nav-item2">
        <a class="nav-link" href="#">회원가입</a>
    </li>
    <li class="nav-item2">
        <a aria-disabled="true" class="nav-link" href="#" tabindex="-1">로그인</a>
    </li>
</ul>
</nav>

{% block content %}
{% endblock %}
</body>
</html>
