{% extends "accounts/layout.html" %}

{% block content %}
    <h2>암호 변경</h2>

<div class="contatiner">

    <form action="" method="post">    {% csrf_token %}

  <div class="form-group row">
    <label for="old_password" class="col-sm-2 col-form-label">예전 비밀번호</label>
     {{ form.old_password }}
      </div>
  <div class="form-group row">
    <label for="input.new_password1" class="col-sm-2 col-form-label">새 비밀번호</label>
      {{form.new_password1}}</div>
  <div class="form-group row">
    <label for="input.new_assword2" class="col-sm-2 col-form-label">Password확인</label>
      {{form.new_password2}}</div>
       <input type="submit" />

      </form>
</div>
{% endblock %}

