{% extends "accounts/layout.html" %}

{% block content %}


<div class="container shadow p-3 mb-5 bg-white rounded">
    <h2>암호 변경</h2>
    <hr>
    <form action="" method="post" style="margin: 0 auto">    {% csrf_token %}




             <div class="col-md-8">
                <label for="password">예전비밀번호</label>
                <input type="password" name='old_password' class="form-control is-valid"  placeholder="old_password"
                        required>

                </div>
             <div class="col-md-8">
                <label for="newpassword1">new_password1</label>
                <input type="password" name='new_password1' class="form-control is-valid"  placeholder="newpassword"
                        required>

                </div>
                             <div class="col-md-8">
                <label for="new_password2">password 확인</label>
                <input type="password" name='new_password2' class="form-control is-valid"  placeholder="newpassword_check"
                        required>



</div>
<div class="col-md-8">
        <button class="btn btn-primary" type="submit">Submit form</button> </div>
</form>

</div>




{% endblock %}

