{% extends "accounts/layout.html" %}

{% block content %}
{% load staticfiles %}
<style>
ul{
   list-style:none;
   padding-left:5px;
   }
table{
text-align: center;
}
*{
margin:0 auto;

}
.left{
text-align:left;
}
</style>
<body>

    <div class="container  shadow p-3 mb-5 bg-white rounded" style="margin-top: 30px">
    <div class="row ">

        <div class="col-xsm-9 col-sm-9 col-md-3 left">
        <div class="container  ">
            <div class="row">
                <img src="{% static "data/user.gif" %}" style="margin-bottom: 30px;    width: 200px;  height: 230px; border: 0px;">
            </div>
            <div class="row" >
            {% if user.profile.name%}
             <ul>  <li> <h3 style="margin-bottom:10px">{{ user.profile.name|default:"&dash;" }}'s Profile</h3></li>
             {%endif%}
<hr>


              <li>  <strong><i class="far fa-envelope-open"></i>

</strong>
                 {{ user.username}}
             </li>
             <li>  <i class="fas fa-wallet"></i>


</strong>  {{ user_profile.wallet}}

             </li>
             <li>
                <strong>
                <i class="far fa-user"></i>

                </strong>{{ user.profile.name |default:"알수없음"}}
                </li><li>
               <strong><i class="fas fa-door-open"></i></strong></li><li>{{ user.date_joined }}</li></ul>
            </div>
            <div class="row">
                <a href="{% url "accounts:password_change" %}">암호 변경하기</a>
            </div>
         </div>
      </div>
        <div class="col-xsm-9 col-sm-9  col-md-9">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">플레이 일시</th>
                    <th scope="col">기업명</th>
                    <th scope="col">수익률</th>
                    <th scope="col">기말자산</th>
                    <th scope="col">증감액</th>
                </tr>
                {% for user_h in user_history %}
                    <tr>

                        {#    수익 : {{ user_h.rate_of_return }}#}
                        <th scope="col">{{ user_h.game_date }}</th>
                        <th scope="col">{{ user_h.stock_name }}</th>
                        <th scope="col">{{ user_h.rate_of_return }}(%)</th>
                        <th scope="col">{{ user_h.total_assets }}</th>
                        <th scope="col">{{ user_h.amount_of_asset_change }}</th>


                    </tr>
                {% endfor %}


                </thead>
                <tbody>


                </tbody>
            </table>
            {% if not user_history %}
                {{ user_profile.profile.score|default:"전적이 없습니다." }}
            {% endif %}
        </div>
    </div>

    <br>




</body>
{% endblock %}

